[2019-11-18 19:50] mojoyup1528 opened #2 "0 devices connected"
Hello :) I am using a joycon on windows 10 home 64bit with bluetooth.
I have connected the joycon to the computer. The bluetooth settings say paired. When I push a button on the controller, it changed to connected, yet the controller lights keep blinking.
When I open and execute the JSM exe file, I get 0 devices connected.
I have refreshed, repaired, turned off driver signing, used vjoy as an alte

[2019-12-02 17:26] mojoyup1528 commented on #2
Hey Jibb! THANK YOU so far for the awesome help! Going to donate to you soon in the support link on that video description we were chatting in :)

SO, here is the interesting thing. I have two different types of switch controllers. lol. I didnt notice before but one is a bit larger than the other(maybe a china made one). But they DO in fact behave different.
The nintendo one: This one is the one h

[2019-12-03 02:35] JibbSmart commented on #2
Hey Jason! Thanks for all the info. Looks like it'll be really helpful. I'm at my real job at the moment, but I'll try get to it soon, and we'll figure this out 🙂

I super appreciate your patience!

And of course, any support will be very much appreciated, but you're under no obligation! I'm glad you're reaching out about obstacles you're facing with JSM instead of just giving up on it and never t

[2019-12-05 14:44] mojoyup1528 commented on #2
Absolutely welcome my friend :) I appreciate all that you are doing too!
That makes a great dev :) I LOVE JSM, I am playing Minecraft with it and
using it for windows navigation :P

On Mon, Dec 2, 2019 at 9:35 PM Jibb Smart <notifications@github.com> wrote:

--
*Jason K. Evans, Entrepreneur*

   - *GKADT Design Leader :** www.gorillakdesigns.com
   <http://www.gorillakdesigns.com>*

   - *Develope

[2019-12-07 12:40] JibbSmart commented on #2
Alright. So let's catch up on where we were from other correspondence.

1. Your unofficial Joy-Cons are working, but not SL and SR?
2. Your official Joy-Cons are not working at all with JSM. But...
   a. They work with Steam and other programs
   b. They _don't_ show up in your Game Controllers view in Windows...
   c. You had some issues with your Corsair keyboard wanting control of the Game Cont

[2020-01-07 00:31] Dext1 opened #5 "[Feature request] Separate X/Y sensitivities."
Can you add this to thumbstick and gyro aiming?

[2020-01-07 20:57] Yamakaky opened #6 "Auto reconnect controllers"
Use case : I use a joycon as a desktop remote. You can turn it off with the sync button, but when you reconnect it you have to scan for controllers in jsm.

[2020-01-07 21:01] Yamakaky opened #7 "Handle key repeat on hold"
For example, on a keyboard, when you hold down it scrolls after a short delay.

[2020-01-07 23:16] JibbSmart commented on #5
Yeah, that shouldn't be too hard. For gyro, it'd probably not be separate sensitivities (since that'll blow up the acceleration settings), but maybe a multiplier that gets applied after regular processing? I'll figure something out.

Just curious -- any particular reason you want separate axis sensitivities for gyro? Do you like to have the same for mouse?

Cheers

[2020-01-07 23:18] JibbSmart commented on #6
I'll have to look into whether this'll affect smoothness of everything else. Maybe it'll only scan when no controllers are connected. But yeah, I'll look into it.

[2020-01-07 23:19] JibbSmart commented on #7
I see how that'll be useful. It probably won't be in the next update (which is soon), but I'll look into it

[2020-01-08 00:30] Dext1 commented on #5
Yes, multiplier after accel calculation would probably be best.

I like to have a slower sensitivity for vertical axis because of my wrist range of motion. I draw circles more naturally that way. As for mouse input, I like higher vertical sensitivity for similar reasons.

[2020-01-08 01:16] JibbSmart commented on #5
That makes sense. Thanks for the feedback. I'll leave this open until I've actually implemented it.

[2020-01-08 10:14] Yamakaky commented on #6
For my use case, scanning like every second when last controller disconnects is enough. As a more robust solution, maybe scan when a Bluetooth controller connects?

Alternatively, only reconnect known controllers with same bindings, and use the cli command to add new ones?

[2020-01-16 13:23] Electronicks commented on #6
Next update will have a tray icon with a context menu entry to reconnect. Should be more user friendly than typing the command.

[2020-01-16 14:07] Yamakaky commented on #6
It's better, but it doesn't really address my use case.

[2020-01-18 09:32] Zhonecage opened #9 "Virus/Malware warning when downloading 1.3.0 with Firefox"
Yeah I thought I would let you know that Firefox gives a Malware/Virus warning when downloading version 1.3.0 of JSM. There is no warning with older versions.

[2020-01-19 14:32] JibbSmart commented on #6
We haven't implemented a solution to this yet, but it seems like a useful one to have for the next update.

[2020-01-31 03:32] JibbSmart opened #10 "RESET_MAPPINGS doesn't clear simultaneous and chorded mappings"
Also, mapping a simultaneous press to NONE doesn't fix it. In fact, it messes with the simultaneous mappings, and produces errors when pressed.

[2020-01-31 03:32] JibbSmart commented on #9
Thanks for the heads-up! I'll look into what might be causing this.

[2020-02-01 10:18] Zhonecage commented on #9
I downloaded the newest release (1.4.1) and the warning is gone. Thanks for looking into this. JSM rocks!

[2020-02-03 03:18] JibbSmart commented on #9
Glad to hear you like it :) To be honest, I didn't figure out what triggered the warning, but I'm glad it's gone anyway :D

[2020-02-03 03:19] #9 closed

[2020-02-28 10:35] nr1995 opened #13 "key list?"
Sorry for posting this here, since it's not really an issue,
but is there some place where I can see a list of the key names for the config files?
I tried adding    UP = KP_PLUS    to my config file,
since that's what it usually shows up as, and that's what **_Portal_** calls it.
but it didn't work.
Don't know if it's because that key isn't registered,
or because I called it incorrectly.
A compreh

[2020-02-28 10:39] nr1995 opened #14 "dragging config onto .exe window"
Again, probably not an issue,
but after following your quick set-up guide on YouTube,
I couldn't get configs to load,
and it's because dragging the config onto the window (like you demonstrated)
resulted in the full path name, wrapped in quotes,
and pressed enter didn't work because it didn't recognise it.
It took me a while to realise that in my Windows 10 (for whatever reason),
I need to remove

[2020-03-03 02:49] JibbSmart commented on #13
Hi! Sorry for the delayed response. The README should cover all possible inputs. Currently, the options are:

If you're saying d-pad up should be the + key, it looks like this:
UP = +

[2020-03-03 04:51] JibbSmart commented on #14
Wow, thanks for the info. I hadn't seen that. I'll have a think about what to do about this. Might be best to try and parse it (recognise it's enclosed in quotes and strip them out automatically) in a future version.

[2020-03-27 12:09] Terramoto opened #15 "Wii remote support"
Hello,

How easy could wii remote support be added to this? Mine is connected but on Steam it doesn't display the gyroscope settings just as a generic 360 controller, however during the controller configuration is detects the gyro axis and attachs them to the keys. I'm guessing its just missing the proper controller layout for steam.

[2020-03-30 02:35] JibbSmart commented on #15
It wouldn't be easy, to be honest. I'd have to get my hands on a Wiimote and MotionPlus. I'd have to find good resources for how to interpret the data that comes out of it, although I'm sure there are plenty such resources online. But it'd take some time, and isn't a priority compared to other things at the moment.

Thanks for the suggestion, though!

[2020-03-30 03:00] #10 closed

[2020-04-13 17:14] #15 closed

[2020-04-20 14:59] Dext1 opened #17 "[Feature Request] Configurable Tap & Hold Delay"
It would be nice to be able to set the time it takes for the hold binding to activate. This would also open up the possibility of multiple hold timings for multiple bindings.

[2020-04-20 15:03] Dext1 opened #18 "[Feature Request] Modifiers For Multiple Sensitivities"
One obvious use case for this would be setting the ADS binding to slow down your sensitivity, but other bindings for faster sensitivity and so on. Some games like R6 Siege only let you set a single ADS sensitivity and it feels different on different scopes and this would help with that.

[2020-04-21 02:11] #13 closed

[2020-04-26 15:10] JibbSmart commented on #17
I definitely see the usefulness of configuring these. Haven't made the time for it, but this issue is a helpful reminder.

[2020-04-26 15:10] JibbSmart commented on #18
I have some ideas as to how this could look, but it's probably going to be a while away. Thanks for requesting this feature here, though.

[2020-05-02 09:13] Dext1 opened #20 "D-Pad Up Disables Gyro."
There seems to be a hidden binding left in the code where gyro is disabled when up on the d-pad is held. No other button does this.

[2020-05-03 13:25] JibbSmart commented on #20
Right. Might be something to do with d-pad up being the 0th input. I'll have a look. Thanks.

[2020-05-03 13:30] JibbSmart commented on #5
I forgot to include it in the changelog, but 1.5 features this option.
GYRO_SENS = 1 0.5
will set horizontal to 1 and vertical to 0.5. The same works for MIN_GYRO_SENS and MAX_GYRO_SENS. Thanks to @Electronicks for implementing this.

[2020-05-03 13:30] #5 closed

[2020-05-11 07:57] OscarSenlis opened #22 "Conflict when using hold and double press on the same button."
Using this configuration :
[code]
It is impossible to activate the B key. Holding N activates A.

Hi! I am currently working on a config file for Half-Life 2 and I discovered this behavior.
Thanks for your work!

[2020-05-11 08:29] JibbSmart commented on #22
Thanks for the heads-up! I'll have a look.

[2020-05-22 16:48] promocode2 opened #23 "JOYCON_GYRO_MASK = IGNORE_RIGHT disables R stick as mouse."
hi love the work. thanks so much for taking the time to put this together. there's are a couple of projects up & running and this is the one for me.

I've got used to using gyro with my left hand. Given the option it feels most natural for me. I've used this method JOYCON_GYRO_MASK = IGNORE_RIGHT in various places in mouse and game profiles however it blocks using R analogue stick as mouse (makes

[2020-05-24 07:48] JibbSmart commented on #23
Thanks very much :) That sounds like unintented behaviour to me. I'll check it out. Thanks for reporting it.

[2020-06-04 12:24] And-OnceAgain opened #24 "When using controller as a cursor or mouse, there is an application incompatibility."
Hi, I'm not too sure how to phrase this but I'll try my best.

I made a txt file in the autoload folder, called Explorer.exe so that I could use the controller as a mouse with gyro and stick.   Everything seems to be working fine with one exception.

I purchased a program from Called Stardock Groupy, and while I'm not too certain how it achieves it's function, I can sort of describe what it does.

[2020-06-04 13:31] JibbSmart commented on #24
Oof, that's rough! Very kind of you to offer to help financially. I think there are a couple of things to explore here before we get there, if you don't mind:

First, have you tried running JoyShockMapper as administrator? I've seen something like this before where games that run with different privileges to JoyShockMapper don't respond to it. It sounds like Groupy could be the kind of thing that

[2020-06-06 19:35] And-OnceAgain commented on #24
Wow.   The solution was actually to launch JSM as administrator.    Thanks so much XD
If anything can be gained from this it is that I shall never again underestimate the importance of admin privileges.

[2020-06-07 04:45] JibbSmart commented on #24
I'm so glad that worked :) Thanks for letting me know!

[2020-06-07 04:45] #24 closed

[2020-06-07 23:13] trelemar opened #25 "Stuck on "welcome to joyshockmapper 1.5'"
Hi I am trying to get this to work. When I first downloaded the latest release it was working fine. I could enter commands and change settings. I had my pro controller working over usb and the gyro was working great. I restarted my computer to try it on valorant and now I cannot type anything in the window. I am on a fresh install of windows 10 just the other day. After restarting it said vcruntim

[2020-06-07 23:21] trelemar commented on #25
Huh. Seems that having steam running fixed this issue. Well maybe someone will come across this same issue and find this.

[2020-06-07 23:21] #25 closed

[2020-06-07 23:44] trelemar commented on #25
Valorant's anti cheat system seems to block any mouse moves that don't directly come from the mouse some how anyways 🙄

[2020-06-13 07:42] bgiesing opened #28 "Add Support for the PowerA Wireless GameCube-style Switch controller"
PowerA makes this controller with a GameCube layout that supports everything a Pro Controller does (except Rumble) including Gyro, Steam recognizes it as a Pro Controller but this app says no devices are connected

![image](https://user-images.githubusercontent.com/7895463/84563187-50d5c600-ad1f-11ea-9531-d563202b8c07.png)
![image](https://user-images.githubusercontent.com/7895463/84563203-677c1d0

[2020-06-14 15:11] JibbSmart commented on #23
I haven't had the time to look at this yet, but it's still on my radar. Sorry about the wait.

[2020-06-14 15:18] OscarSenlis commented on #22
Update : the same behavior occurs in the 1.6.0 release.

[2020-06-15 03:02] JibbSmart commented on #22
Thanks for checking. I hadn't looked into it yet because 1.6 was such a big change to everything. But I'll have a look.

[2020-06-18 09:33] AkariMarisa opened #29 "Linux support?"

[2020-06-27 19:33] tomatosoupcan opened #30 "Toggle Gyro"
Hi, is there any way to bind a button to toggle gyro controls? I like having it always on in game, but I'd like to have it off if the controller is sitting somewhere on my desk in case I accidentally bump it.

[2020-06-28 20:00] tomatosoupcan opened #31 "Recenter Gyro"
In theory, using a setting similar to the real world calibration value, I believe it should be possible to know how far the mouse would need to move down from the top, or up from the bottom to be centered. If that could be configured, a command could be given that would snap all the way to the top of the screen, then back down to center, allowing for the cursor to be recentered vertically if you n

[2020-06-29 12:50] ericcruzlima opened #32 "Mapping to XInput?"
Great software, saddly doesn't seem to map to XInput as well. It may sound crazy but some games do take advantage of gamepad inputs as well, having the option for mapping to keyboard, mouse AND gamepad makes a huge difference.

Flick-stick is sick tho😉👌

Best feature.

[2020-06-29 12:54] JibbSmart commented on #32
Hi! I'm glad you like flick stick :) XInput output is something I'd like to add, but it's a very big feature. In the meantime, it can be used at the same time as other remapping software. For example, for DOOM Eternal, I had Steam only output the left stick while JoyShockMapper did everything else.

[2020-06-29 13:00] JibbSmart commented on #31
That's a clever idea! It might be the case that it needs a one frame delay in there to make sure the game processes the first jump to the top or bottom. It'd take some testing. It's a clever idea, and I think I'll look into it.

I've been considering adding the option to return to the horizon just by remembering how far JoyShockMapper has moved the mouse vertically, but that's prone to all sorts o

[2020-06-29 13:01] JibbSmart commented on #30
There've been a few requests for this, so it's on the to-do list. Thanks :)

[2020-06-29 13:01] JibbSmart commented on #29
While I like this in principle, I'm afraid it's a low priority for me.

[2020-06-29 13:02] JibbSmart commented on #28
PowerA controllers do some weird stuff that makes them harder to support, but they seem pretty popular. Thanks for letting me know.

[2020-06-29 13:03] ericcruzlima commented on #32
Awesome. I'll give it a try. thx so much :D

[2020-06-29 13:03] #32 closed

[2020-06-30 13:16] Kurren123 opened #33 "Have you thought about making a UI?"
If not I can give it a bash if/when I get some free time. If you want to keep this repo as purely a library so that others can add whatever UI they want to it then thats cool with me too.

[2020-07-01 13:31] sigboe commented on #29
@AkariMarisa

Sorry I don't have much c++ experience and between paternity leave and home improvement I have little time to look into this. But I was wondering if you had tried to make some makefiles for this project? Then if there are any errors building it posting here? If you don't know how to write a makefile, then its not hard to get into, or you could even maybe look into using something lik

[2020-07-01 16:13] Fatih20 commented on #29
I'm sure there are many linux gamer that would like to jump on in this. This is not sarcastic.

[2020-07-01 16:23] Krafting commented on #29
I totally agree with this idea, +1 :)

[2020-07-01 16:37] RedBusters commented on #29
i would love to be able to use that, +1

[2020-07-01 19:15] ajayvarghese2000 opened #34 "[Feature Request] Support for Daydream controller in the future?"
I don't know how many different types of controllers you plan to support, if you do plan to support more than just the DS4 and Nintendo controllers, I would like to suggest adding in support for the Google Daydream controller. It would be great if we can repurpose our old Daydream controllers as an air mouse and such. I think someone has managed to get the gyro data off the daydream controllers bu

[2020-07-01 19:17] fernandozago opened #35 "Mapping for Diablo III"
Hello there,

Is possible to create mapping for diablo 3 ?

[2020-07-01 19:24] PATAPOsha commented on #35
I think this is wrong place to request mapping configs.
You can search for finished configs at http://gyrowiki.jibbsmart.com/games
Or create your own config using README totorial and examples.
GyroConfigs\_2Dmouse.txt may be helpfull

[2020-07-01 19:38] #35 closed

[2020-07-01 20:34] tomatosoupcan commented on #31
👍 looking forward to it. Keeping track of distance setup will also break on any sort of menu-ing so it'd be good to have both. Congrats on the LTT feature btw, hope you're ready for all the increased attention 😄

[2020-07-02 00:00] AkariMarisa commented on #29
Thanks for reply. I never used C++ so I know nothing with, but I'll try.

[2020-07-02 02:01] JibbSmart commented on #29
@sigboe The Windows-specific stuff is put in its own file and should be easy to modify for Linux (and other platforms). The only other library it depends on is JoyShockLibrary, which I've only compiled for Windows, but one should be able to compile it for Linux without too much trouble. I'm pretty sure someone in the gyro gaming community has done this with JoyShockLibrary before, actually :)

[2020-07-02 02:28] JibbSmart commented on #33
Hi @Kurren123 ! @Electronicks has proposed plans on a big refactor that would help with implementing GUI, but we don't have plans yet to do it ourselves. If you're up for giving it a go, that'd be great! :D I think it'd be good to get the refactor done first and then see what can be done GUI-wise.

I think to start I'd like to keep the GUI-free branch or repo separate so that we can add new option

[2020-07-02 03:23] gkeegan opened #36 "vcruntime140.dll not found error upon initial run"
On some systems, this file may not be present. It can be installed simply by going [here](https://www.microsoft.com/en-us/download/details.aspx?id=52685) and running `vc_redist.x86.exe`. Without this file present, JoyShockMapper does not function for the "Player" version.

[2020-07-02 03:28] gkeegan commented on #36
Apologies. This is a duplicate of #25.

[2020-07-02 03:30] JibbSmart commented on #36
Hi @gkeegan, JoyShockMapper shouldn't need vcruntime140.dll. It's meant to work such that nothing else needs to be installed. A user had this problem with 1.5, and our understanding is that a change in 1.6 fixed this. Is this still a problem?

[2020-07-02 03:37] gkeegan commented on #36
@JibbSmart This is in fact an issue still (I am for sure using 1.6).

I will reopen #37 as the "other solution" of having Steam running went away after I restarted. (Uninstalled the manual version the tested with Steam before restarting like a silly person).

[2020-07-02 03:41] JibbSmart commented on #36
Thanks. I appreciate the pull request. Those instructions are indeed a super useful workaround, but I've gotta find the root of this problem.

[2020-07-02 03:44] gkeegan commented on #36
Agreed. That's why on the new PR I did not mark it as closing this issue, since you have tried to remove this requirement.

[2020-07-02 07:01] i3130002 opened #39 "Technical and methods"
I was kinda shocked seeing how accurate your system is! Having had the same IMU tracking and not being able to solve drift, I was wondering what amazing thing you guys did to solve the problem! Going through your code wasn't able to find where and how you are solving the drift problem. Please point me to the file(s)/function(s) responsible to solve it.
Really appreciate it.
Thanks

[2020-07-02 07:11] JibbSmart commented on #39
Hi! I'm glad you're interested! By "drift" do you mean the cursor still moving when the controller isn't? It's all explained on GyroWiki:
http://gyrowiki.jibbsmart.com/blog:good-gyro-controls-part-1:the-gyro-is-a-mouse

In my opinion, the best solution is to let players manually calibrate the controller manually. The controller's gyro's bias tends to change very little (if at all) over time, so ca

[2020-07-02 07:34] JibbSmart opened #40 "Language Options"
Adding language options would be super helpful to some users. This doesn't mean we have to translate it ourselves, but that we should make it easy to add languages.

[2020-07-02 07:35] JibbSmart commented on #34
This would be really cool. Difficult to support without having one, though, and it's discontinued, isn't it?

[2020-07-02 10:05] uvilwq opened #41 "Add Support For Switch PowerA Enhanced Wireless Controller"
This is by far the most popular choice for pro controllers for Switch (second only to the official Pro, of course). Steam recognizes it as a regular pro controller. I believe it is the same hardware and software used in the Gamecube version, as mentioned by @bgiesing [https://github.com/JibbSmart/JoyShockMapper/issues/28]

![image](https://user-images.githubusercontent.com/67737499/86345326-001c03

[2020-07-02 15:59] kachapman commented on #29
I'd like to just add that I would also love this support as well

[2020-07-02 16:03] NicholasShatokhin commented on #29
I need this support too. There are a lot of games in Linux Steam and I want to use gyroaim of my Nintendo Pro Controller instead of mouse in it.

[2020-07-02 20:07] ajayvarghese2000 commented on #34
Yeah it is discontinued the only way to get it now is buying it used of ebay or something, my whole setup is just sitting in storage at the moment it would be nice to repurpose it. If you do plan to support it I can mail you my controller depending on where in the world you are and if you're comfortable with me doing so.

[2020-07-02 22:33] uvilwq commented on #28
Would love this. Pretty sure it would apply to all the SwPro controllers too.

[2020-07-03 06:05] cowlingj commented on #29
Rather than post "I'd like this too" comments, it might be more constructive to just thumbs up the original comment (or if a comment has something you agree with react to it with thumbs up); that way comments on this issue can be more focused on tackling this issue, people following this won't be notified, and the number of thumbs up acts as a clear indication of how popular the issue is.

I'm sur

[2020-07-03 09:54] #39 closed

[2020-07-03 12:32] Boingboingsplat opened #42 "Hangs at 'Welcome to JoyShockMapper version 1.6.0!'"
I attempted running JoyShockMapper, but it simply hangs after printing the welcome line. No user input is accepted to input additional commands. Closing the console window causes it to stop responding and crash.

I have a Switch Pro Controller connected via USB now. Is it only supported over Bluetooth?

Issue #25 had a similar issue, which they claimed was fixed by having Steam running, but it occ

[2020-07-03 14:57] SharlSherif commented on #33
@JibbSmart I was thinking of making a UI for the configuration file. That shouldn't be too hard considering I would be editing the txt file but through a UI options menu.

[2020-07-03 16:06] Shoko84 opened #43 "Support for DualShock 3 controllers?"
Great project so far! I was just wondering if DualShock3 controllers (or even the Sixaxis ones) could be supported? Is it because it's an old device, not compatible, bad gyro or something? I read somewhere that the polling rate was 1000 Hz on these? I couldn't find a reliable source sadly...

I didn't check the source code, I don't know if it can be hard to implement but I have some knowledge in C

[2020-07-04 00:36] apolo87 opened #44 "0 devices connected"
I can't seem to get joymapper to see my controller. I'm connecting my dualshock4 via usb. Windows sees it as "wireless controller", but joymapper doesn't see anything. I've tried using RECONNECT_CONTROLLERS. Any suggestions?

[2020-07-04 04:35] ApatheticEuphoria commented on #33
Please do.

[2020-07-04 15:48] tomatosoupcan commented on #44
Try installing DS4Windows, I was able to get everything running smoothly as soon as my DS4 was detected properly in there. Specifically look for the fork by Ryochan7 which is more up to date, as the original developer rolled DS4Windows into his new InputMapper application which does not work as well for me personally.

[2020-07-04 15:54] tomatosoupcan opened #45 "HIDGuardian Auto Except"
Would be handy feature to be able to auto exempt the process ID of JSM in HIDGuardian through something like HIDCerberus if it's available on the system running JoyShockMapper. Something like the AutoHotkey script "WhiteKnight" or the integration that DS4Windows uses to automatically exempt itself from HIDGuardian.

[2020-07-04 21:46] benz-phan commented on #43
Wait! DS3 have Gyro?

[2020-07-04 21:52] benz-phan commented on #44
How can JSM detect it is a DS4 controller when DS4Windows make your controller to emulate as a Xbox 360 controller ? ¯\_(ツ)_/¯

[2020-07-04 22:24] ShiranaiNemi opened #46 "Support for Nacon unlimited revolution ?"
Hello.
I was surprised to see that there is no way to add the HID of a PS4-like controller like the Nacon Unlimited Revolution. Steam support everything when the HID is added has a ps4 controller in the settings, so I don't think it would be very hard to add. My device HID is 0x146b 0x0d08 if it can help you, not sure every revolution unlimited have the same tho.

Thank you.

[2020-07-05 06:26] serialscaresme opened #47 "Support for z axis usage"
Is there a way to use both the x and z axis for left-right mouse movement?

[2020-07-05 13:58] Kurren123 commented on #33
I think a UI to allow the user not to have to edit text is definitely the way to go. @JibbSmart, is the text file of a standard format? It looks a bit like ini.

[2020-07-06 00:07] tomatosoupcan commented on #44
It will install the drivers you may be missing to get your DS4 properly recognized at least that's what I figure it did for me. As long as you don't have Hide DS4 checked in DS4Windows it'll still be available to other applications

[2020-07-06 01:40] JibbSmart commented on #44
No drivers are required for it to see the DS4. Can you try the WHITELIST_ADD command in JSM and then try RECONNECT_CONTROLLERS again?

[2020-07-06 01:42] JibbSmart commented on #45
Sometime soon we'll add the ability to have a default config for things like disabling AUTOLOAD and automatically doing WHITELIST_ADD and then RECONNECT_CONTROLLERS.

[2020-07-06 02:19] JibbSmart commented on #33
I don't know if it happens to be some kind of standard format.
It's mostly lines of:
[PROPERTY] = [VALUE]
(eg: MIN_GYRO_SENS = 1.0)
But some properties can optionally take more than one value
(eg: MIN_GYRO_SENS = 1.0 0.5 for different X and Y sensitivity)

Some properties override others. For example, setting GYRO_SENS overrides both MIN_GYRO_SENS and MAX_GYRO_SENS.

It's probably a good idea to h

[2020-07-06 02:20] JibbSmart commented on #43
I don't have a DS3 or Sixaxis, which makes implementing it reliably hard. It's not a very high priority, but it seems to be requested a lot so I'll look more into it.

[2020-07-06 10:39] Shoko84 commented on #43
@benz-phan You made me doubt it for sure lol, but yup it does (hence the _Sixaxis_ name): https://en.wikipedia.org/wiki/Sixaxis

Aight all's good, I can understand that 👍

[2020-07-06 12:18] NightWarrior opened #49 "Feature Suggestion: Gyro movement around Y(top-down) axis option"
Hey guys, really love this repo, just stumbled on it today and it works like a charm. I have a suggestion, Right now the (using joycon) gyro's movement is around its length axis which i believe is its Z axis, so if i point the remote towards the screen like a pointer, then rotate my hand (like a screwdriver) to the sideways on the Z axis... then all gyro movements from there onwards are not natura

[2020-07-06 12:46] Electronicks commented on #33
Hi guys. I think drawing inspiration from other mapping software in terms of UI might be very beneficial [insert "copy my homework" meme here]. That would make the application familiar to users of other remappers. Starting with the simple kis definitely the way to go, we can brainstorm the more complicated features together once we have something to work with.

[2020-07-06 14:14] Electronicks commented on #33
Also, I meant to say, my refactoring focuses on creating a Model-View-Controller design (well actually there's no "view" part just yet, that's where you come in ;-) ). I am willing to sync up with you to make sure that the refactoring sets you up properly to make use of my classes. When I have time I'll do a quick UML to show you what I'm up to.

[2020-07-06 22:55] second-pair opened #50 "(Unlikely) potential fork bomb? See below."
I was testing this out with Superhot and ran into this issue, which required that I hard-power-off my PC.  I don't know what caused it, but I believe JSM was the only new factor here, so I've created this ticket in the event that JSM was somehow responsible.

##  What Happened
I quit Superhot and a series of CMD windows spawned with no text.  They seemed to keep spawning in the background until my

[2020-07-07 09:29] SharlSherif commented on #50
I got the same issue by running `main.cpp` using `g++` on Win10.

[2020-07-07 09:32] SharlSherif opened #52 "Compiling fails"
I'm on Windows 10 using MinGW. I ran `main.cpp` with the command `g++ main.cpp`
and I got this massive log:
[code]

is it because I'm not using Visual Studio's compiler?

[2020-07-07 15:35] SirCanucklehead opened #53 "Recalibrating gyro seems to disable it"
I'm making a profile for Titanfall 2. I set gyro sens to 1.1, and it worked. I was getting used to flick stick gyro together. I went about configuring the rest of my bindings, then decided to move all my commands into an autoload file. Doing this seems to have made my gyro go wonky. When i open JSM my mouse cursor jumps to the top of my monitor, and i either have to close the program or recalibrat

[2020-07-08 00:06] SirCanucklehead commented on #53
My bad, turns put it was an issue going on with my controller. Setup properly now and works amazing.

[2020-07-08 00:06] #53 closed

[2020-07-09 02:43] JibbSmart commented on #50
Thank you for sharing in all this detail, @second-pair, and thank you @SharlSherif for corroborating. I'll see if I can find anything. JSM doesn't log anything. It also doesn't fork, and I'm pretty sure it only requests a console window once at the beginning of main, so I don't know how this could happen, but I'll look into it more deeply soon.

[2020-07-09 02:46] SharlSherif commented on #50
@JibbSmart Can you take a look at my issue here :https://github.com/JibbSmart/JoyShockMapper/issues/52

[2020-07-09 02:49] JibbSmart commented on #52
I guess so. One shouldn't have to use Visual Studio in theory, but that's just what I've been using. The project is undergoing some big changes at the moment, including making it friendlier to other compilers :)

[2020-07-09 05:07] SharlSherif commented on #52
@JibbSmart I was trying to avoid downloading 10gb of bloated software just to compile it, haha. I will be trying that, if it worked then I'm going to post a new thread for building a UI.

[2020-07-09 21:23] username0532198 commented on #46
I believe that all revolution unlimiteds have the same HID at least I think mine has the same as ShiranaiNemi's. I'm not at all familiar with these things, but on the off chance it might help, I've copy pasted the Hardware Ids from my revolution unlimited's properties window.

HID\VID_146B&PID_0D08&REV_0129&MI_03&Col01
HID\VID_146B&PID_0D08&MI_03&Col01
HID\VID_146B&UP:0001_U:0005
HID_DEVICE_SYSTEM

[2020-07-11 02:02] EverSalazar opened #54 "DualShock 4 Gyro not working on Bluetooth"
Hi, I know you mentioned that Bluetooth support for DS4 is new and might not work and that's exactly my case. It works perfectly via USB, but the gyro doesn't respond over Bluetooth. Are there any known steps to troubleshoot this?

**Specs:**
OS: Windows 10 Home version 1909
Processor: AMD Ryzen 5 2600
Motherboard: MSI AMD X470
Bluetooth adapter: Kensington USB-Bluetooth Micro 4.0 connected to a U

[2020-07-12 09:50] egeesin opened #56 "[Question] Is there a way to use gyro mouse input of 8BitDo controllers?"
As the title said. I'm using 8BitDo SN30 Pro+ (with Switch mode on since it's emulating JoyCon features) I tried connecting through Bluetooth and USB. Followed [Gyro Mouse Input](https://github.com/JibbSmart/JoyShockMapper#4-gyro-mouse-inputs) section. All button/ring/trigger inputs works as intended. But I'm not really sure how to get gyro enabled. Is there any solution or workaround of this? Tha

[2020-07-12 14:16] JibbSmart commented on #54
Thanks for letting me know. I'm working on a fix. I haven't been able to figure out the exact cause of the problem, but I think I might have the solution anyway.

[2020-07-12 14:17] JibbSmart commented on #56
Hi! Some users have had this problem with the Pro Controller. I encounter it once in a blue moon. I'm working on a fix, and my hope is that fixes the problem for the 8BitDo, too. I've heard some have had success with that controller, but as I don't have one to test I can't "officially" support it.

[2020-07-12 14:19] JibbSmart commented on #52
@SharlSherif I think it's worth exploring a standalone GUI application that just parses config files (the format is very simple) and saves config files. JSM being a command line program means another application should be able to send commands to it pretty easily (I think). A lot is changing structurally at the moment, but the features aren't changing yet, so a standalone GUI application should st

[2020-07-12 14:20] JibbSmart commented on #47
Not at the same time, no. I'll explore providing that option. Thanks for the suggestion :)

[2020-07-12 14:22] JibbSmart commented on #49
Hi! The gyro movement should not be around the Joy-Con's length axis by default. When pointing the Joy-Con at the screen, I can turn it left and right to move the mouse left and right, and turn it up and down to move the mouse up and down, kinda like how one would use a Wiimote (no screwdriver-rotation). Can you confirm that this is what's happening, and what configuration settings you're using?

[2020-07-12 14:22] JibbSmart commented on #42
It should never hang. But currently the Switch Pro Controller is only supported over Bluetooth. I'm working on USB support now. Sorry for the late response!

[2020-07-12 14:23] JibbSmart commented on #41
I have one, but I don't use it with JSM. For whatever reason it communicates very differently. It will not be trivial to add support, but since I have one, it's possible I'll add support in future. Thanks :)

[2020-07-12 22:22] serialscaresme commented on #47
Thanks! This seems like it would be useful as I instinctively lean to turn

[2020-07-13 18:59] benz-phan opened #57 "Feature Requests: Graphics User Interface?"
Is it that hard to make a graphics user interface?

[2020-07-14 02:58] JibbSmart commented on #57
Hi!

A GUI will:
- Take time that can otherwise be spent on new features
- Make it harder to port to other platforms and/or add a lot of bloat to the program
- Make new features take much longer to implement even after the GUI is added, because layout, sub-menus, etc need to be considered for every new feature
- Pretty much just as easily be implemented by someone else as an external program that

[2020-07-15 13:00] SharlSherif commented on #52
@JibbSmart I thought the same thing but didn't think it would be doable to maintain in the long-term. if that's the only way now then I will give it a try.

[2020-07-15 20:44] benz-phan commented on #57
Ok thanks a lot @JibbSmart!

[2020-07-15 20:44] #57 closed

[2020-07-16 09:51] zhengyuedong opened #58 "how to convert quaternion into euler angles"
I use  gyroscope to record ax ,ay , az , gx , gy, gz ，and then I convert them to quaternion. Here comes the questions: how could I probably transform quaternion into euler angles?
 thanks for helping.

[2020-07-16 17:43] nathannino opened #60 "Possibility to toggle between 2 different configuration"
Currently, it seems that the only way to change the behavior of a binding is to hold another button.
However, in the game I want to try it on, I need a different camera control for 1 specific character and a different one for every other characters, and holding down a button for a full round will limit my effectiveness as that character.

Is it possible to toggle between 2 configurations with a to

[2020-07-17 02:20] JibbSmart commented on #52
The latest version of JSM uses CMake if you want to give it a go

[2020-07-17 02:37] gkeegan commented on #36
Fixed in 1.6.1.

[2020-07-17 02:37] #36 closed

[2020-07-17 02:45] kicsyromy commented on #29
Linux support is now available. Make sure to check the README for compilation instructions. Binary packages are in the works.

[2020-07-17 02:54] JibbSmart commented on #29
Yeah, @kicsyromy has done awesome work making JSL and JSM both work on Linux -- huge thanks!

Linux builds will be released alongside Windows builds soon, I just need to figure out my workflow for doing that.

[2020-07-17 11:18] sigboe commented on #29
@kicsyromy Do you plan to post a package to AUR?

You write in the readme.

But you just need to log out and in again for group changes to take effect.

If you make an AUR package, the best practice is adding udev rules, since that can be removed during package removal.

[2020-07-17 11:33] kicsyromy commented on #29
@sigboe Thanks for the feedback. Yes, I already have a PKGBUILD, I just haven't gotten around to publishing it yet. The udev rule is commited already. I'll try and get it into the AUR this weekend.

[2020-07-17 12:14] sigboe commented on #29
@kicsyromy Thats great. I'll just wait until then :) Love when my packages can be updated via the package managers ^_^

[2020-07-18 16:49] snakedye commented on #29
@JibbSmart @kicsyromy  you guys are my heroes

[2020-07-18 18:38] kicsyromy commented on #29
Package now available on the AUR: https://aur.archlinux.org/packages/joyshockmapper-git/

[2020-07-20 02:32] JibbSmart commented on #29
@sigboe I'm hoping to have the time to have a look at it soon :) I do wonder if it's a little early for a critique video on my end, as a lot of people are giving feedback and it may change a fair bit by the time it's out of beta. My turnaround time on videos is pretty long, so I'm hesitant to make a video on something I expect will change pretty quickly. However, I've been thinking about doing a v

[2020-07-20 04:43] dkao opened #62 "Angular velocity instead of FLICK_TIME?"
Didn't see any discussion on this topic, wondering if it has been considered.

I was configuring a game and had trouble flicking 180 degree turns until I raised FLICK_TIME. As a consequence, flicks with smaller angles became noticeably slower.
Assuming I'm reading it right, the flick code is based on percentages of total FLICK_TIME. That is, all flicks have the same duration regardless of angle; s

[2020-07-21 12:16] JoachimT99 commented on #44
@apolo87 did you ever manage to fix this? I too have the issue you described. No matter what I try JSM does not recognize any controllers. I tried using ds4windows. The controller is an astro c40 in ps4 mode. The funny thing is that it kind of works if I just open JSM and start a game. Then I get gyro aiming , but I cannot change any configs and the flick stick does not work.

[2020-07-21 20:07] sigboe commented on #29
@kicsyromy Where do I put Linux Issues? In their own tickets or wait until Linux is "out of beta" and put them here in the meanwhile?

The contents of `JoyShockMapper/dist/GyroConfigs/` are not copied over to `.config/GyroConfigs` though they are on windows.
May I maybe suggest having an `/etc/JoyShockMapper/` with system wide configs? Since we cant put things in the users directory during `make i

[2020-07-21 21:00] sigboe commented on #29
Also I don't know if this is Linux related, But Im using a PS4 controller over USB, and the gyro becomes unusable after about 20 seconds (didn't time it). It starts drifting and I need to re-calibrate the gyro again. I don't think this happened with the same controller using SCAPI

[2020-07-22 08:07] kicsyromy commented on #29
I've been meaning to do just that, copy them over to /etc, just haven't gotten around to it. As for issues, seeing as Linux support is now in (beta as it may be), I would think that Linux specific issues can be created, since it's easier to keep track of what problems users are facing.
@JibbSmart What do you think?

[2020-07-22 08:17] sigboe commented on #60
If it doesn't work already (idk try it), I suggest the syntax for this could be as simple as.

[code]

Where otherconfig.txt is the other "action layer" if you will, which may or may not include `RESET_MAPPINGS`

[2020-07-22 08:27] sigboe opened #66 "Shell improvements"
I'd like to ask for some feature requests to the shell of JoyShockMapper. Some functions I'd like include:

* Tab completion for commands and files
* Up / Down key to browse history of commands
* Type the beginning of a something in the history and press up to browse relevant commands (zsh does this)
* Ctrl+R to search history in real time
* exit the shell without exiting the tray icon

[2020-07-22 08:56] LeeNX opened #67 "OSX Support?"
I don't have the foggiest of what it would take to support Mac/OSX, but I have a DS4 controller plus OSX and I can try and compile bits with feedback, but I am no Developer.

[2020-07-22 17:38] sigboe commented on #67
Right now I guess the Linux version will build if you install X11 from xquartz and then set up all the requirements via brew. Its possilbe some changes to the makefile would be needed as well, which is trivial if you know a little about macos and makefiles. There might be some hardcoded stuff pointing to devices @kicsyromy ?

But If it would work it would work that easily it would only work for pr

[2020-07-23 01:28] JibbSmart commented on #62
Hi dkao,

I much prefer a constant flick time for two reasons:
1. It makes my 180s just as quick as my 90s
2. It makes near-forward flicks more gentle and less jarring

What do you mean you had trouble flicking 180 degree turns? The flick time shouldn't affect your final direction. What are you playing that has a cap on mouse movement?

Thanks

[2020-07-23 01:32] JibbSmart commented on #58
Hi zhengyuedong,

This is a very big question, and not something that my software has to do. But I've done it a long time ago based on resources like these:
https://en.wikipedia.org/wiki/Conversion_between_quaternions_and_Euler_angles

[2020-07-23 04:45] dkao commented on #62
I encountered the 180 degree issue in [Earth Defense Force 5](http://gyrowiki.jibbsmart.com/game:earth-defense-force-5).
Trying to pull a 180 with FLICK_TIME of 0.1s only gets me around 120 degrees, 180 degree turns happen with FLICK_TIME >= 0.2s. LERP is disabled AFAIK. Raising in-game sensitivity and adjusting config accordingly also makes 180 degree turns possible with FLICK_TIME = 0.1, so it d

[2020-07-23 05:47] kicsyromy commented on #67
Hello,
There is no hard dependency on X11 for the Linux port. On the other hand there are platform-specific implementations for several things (have a look at the README for an overview of the files in the project). Most notably, I would say, is the mouse/keyboard event simulation, but there is also console I/O, notification icon, and other small things here or there.
Another big part that would n

[2020-07-23 05:51] kicsyromy commented on #66
Hey :)

These sound like great additions to me, I will keep them in mind for future releases.
The last one might be a bit tricky, but the rest should be doable, some with more effort than others.

Thanks for the feedback!

[2020-07-23 06:12] kicsyromy commented on #29
@sigboe The latest packages now deploy the default configurations to /etc and on first start will copy them to ~/.config, without overwriting if they are already present.
This change is available on all OBS builds as well as the AUR package.

[2020-07-23 06:15] sigboe commented on #66
The last one is not so important to me. Because I can just use screen to run JoyShockMapper in `screen` or if you are so inclined `tmux`

[2020-07-23 06:27] sigboe commented on #67
@LeeNX IMO it is only in beta yet, but if you try to update steam to the beta version, and connect a PS4 or Switch Pro controller, I think you can get Flick Stick and Gyro working since it is in the second latest steam beta now.

It is missing an easy way to get real world settings, so you might need to fiddle with it a bit to get it to be 1:1.

Just saying this as you might want to try it before

[2020-07-23 10:33] sigboe commented on #29
@kicsyromy I'll still post here until Jibb decides to open the flood gates on the issues to the issue tracker.

I had this problem originally, but I forgot to write it. I dont know if it has to do with anything linux specific or not. Maybe @JibbSmart will know when he sees this.

Game: DOOM Eternal
Controller: DS4
Connection: USB
OS: Arch Linux
Display server: Xorg
Resolution: 1440p
Window Manager

[2020-07-23 11:30] Dunexus commented on #29
@sigboe Your issue may be related to the one describe in https://github.com/JibbSmart/JoyShockMapper/issues/62

[2020-07-23 11:53] JibbSmart commented on #29
Very happy for Linux-specific issues to be created :)

@sigboe Is this consistent? You'll very rarely hit exactly 180 degrees with your stick. If you're pointing your stick at 170 degrees, a correctly calibrated game should flick 170 degrees (unless you are using one of the snapping options).

[2020-07-23 15:03] sigboe commented on #29
@JibbSmart Yes very consistent. I try to put the controller on a surface, and use two hands to go straight down.
I couldn't find anywhere in the settings it says rawinput. I don't think I have mouse acceleration on in the desktop, it doesn't feel like it and there is no mention of it in the xorg config file. But it may have some very slight acceleration in the "mouse" driver by default? But should

[2020-07-25 01:48] 0xABAD opened #69 "Chord/modeshifts or simultaneous inputs don't work across JoyCons"
Consider the following configuration:

[code]

If using a pair of JoyCons the `ZR,L3` binding doesn't activate.  I stepped through the code and could clearly see why.  Each JoyCon is recognized as a separate device which is mapped to its own JoyShock object that maintains its own button set.  Naturally, a button pressed in one JoyShock gets added to its chordStack which isn't accessible from the o

[2020-07-26 16:04] JibbSmart commented on #69
Good catch. We're currently doing a big refactor (and by "we" I mostly mean @Electronicks ), so now's probably not the time for even a small change, but thanks for bringing this to our attention.

Thanks for the thoughtful feedback and for considering possible scenarios.

[2020-07-27 13:48] Electronicks commented on #69
That's a very interesting problem. Maybe we can get the same JoyShock object to process the callback of both devices, thus using the same chord stack? With the addition of a pair of commands, say `MERGE/SPLIT_JOYCON_PAIR` we could get JSM to identify a single pair of different joycons (+/-) and consider them as being part of the same controller.

The cute cheat is that we map controller IDs to Joy

[2020-07-27 13:59] Electronicks commented on #69
Actually, instead of a whole new command, it could be an argument of `RECONNECT_CONTROLLERS`, which is convenient because it is where we update that mapping.

[2020-07-28 05:13] JeffR1992 opened #71 "Invert right-stick aim, but not gyro aim"
I'm new to playing games as a dirty casual with a controller and gyro aim, and currently have a setup where I use the left and right analog sticks in the "traditional" way (left stick translates character, right stick rotates view), but can turn gyro aim on/off by holding the left trigger.

However, is it possible to have the right stick aiming inverted (i.e. pushing the right stick forward rotate

[2020-07-28 07:23] JibbSmart commented on #71
Hi JeffR1992, you can invert the stick inputs using STICK_AXIS_X and STICK_AXIS_Y (set to INVERTED).

[2020-07-28 08:29] zhengyuedong commented on #58
thanks for sharing. I'm new here and carelessly mistake it as a platform where everyone communicates any bugs.

[2020-07-28 08:34] #58 closed

[2020-07-29 02:40] NightWarrior commented on #49
Hi! So i made a small (sloppy) video related to what i'm talking about. https://imgur.com/io7DE23 I think its very natural for humans to not keep a remote in their hands facing up and that can make for inaccurate movement on the screen. As i rotate the joycon more, the up and down movement starts to convert to left and right movement.

As for my configs, I just used the provided windows.txt and ma

[2020-07-29 07:22] JibbSmart commented on #49
Thanks for the video example. It appears you want the option for JoyShockMapper to use global rotations instead of local rotations. This could be done by using the accelerometer to estimate the direction of gravity and combine it with the local rotations to figure out the new orientation -- this is called "sensor fusion".

Sensor fusion makes gyro aiming less precise, though, because it becomes a

[2020-07-29 16:26] techn00 opened #72 "Mouse is infinitely moving in top left corner"
Sometimes when I connect and launch JSM, my Dualshock 4 moves cursor infinitely in top left corner, so I can't move it. Reconnect, reopen doesn't helps. I don't know what causes this bug.

[2020-07-29 18:44] ottoaho commented on #66
Another useful keycombo would be one for **clearing console outputs**.

[2020-07-29 18:55] ottoaho commented on #54
I am unable to get DS4 gyro inputs with Bluetooth or with USB. All buttons and sticks register just fine with both connection methods. I tried disconnecting my Logitech K400 Plus keyboard+mouse (disconnected its bluetooth dongle) in case it was interfering but that didn't help.

[2020-07-30 03:22] JibbSmart commented on #54
Hi @ottoaho, this is very unusual. Usually if it doesn't work on USB it's actually that the user hasn't enabled gyro controls, so just in case this is the case here: While connected by USB, have you tried setting GYRO_SENS = 1 and seeing if the mouse moves as you move the controller?

[2020-07-30 03:25] JibbSmart commented on #72
Thanks for reporting this. This has come up in the Discord, too. I think I'm able to reproduce it on my end, but if you can narrow it down any further (like, it only happens when certain programs are running, or when a number of controllers are connected, or something), that could be really helpful.

[2020-07-30 05:20] techn00 commented on #72
Last time that bug happened when I had openned Firefox, file explorer and steam.
Alsi this bug was happening when I had running csgo and steam, it has gone when i closed csgo (then i started jsm and only then csgo and all worked fine). Maybe firefox like csgo don't lets jsm normally launch.

[2020-07-30 05:53] JeffR1992 opened #74 "Using gyro roll inputs for left/right aim translation?"
I've been trying out gyro + flick stick today and wow, it works amazingly well. However, one thing I've noticed that I involuntarily do quite often when an enemy appears in my peripheral vision, is to roll the DualShock about its (forward) x-axis in the hopes that my aim will translate left/right, when in fact I should be yawing the DualShock about its (upward) z-axis.

As such, I was wondering if

[2020-07-30 06:21] ottoaho commented on #54
You are right, I had overlooked this setting. Would it be a good idea to have GYRO_SENS set to 1 in the initial config that gets loaded at program startup?

Thanks @JibbSmart for the reply and for the wonderful piece of software.

[2020-07-30 06:49] JibbSmart commented on #74
Hi! I'm glad you're enjoying it :) You can control it that way like so:
MOUSE_X_FROM_GYRO_AXIS = Z

Currently there's not a way to do both at the same time, though I've seen that Overwatch on Switch does that, and I think it's a good option to have in future.

[2020-07-30 22:17] skutov commented on #72
I have a similar issue using a Switch pro controller, updated to the latest version (1.6.1) and it seems to be a bit random as to if it'll take effect when starting the application or loading the config file for a game. I've tried turning off stick control of mouse and that did not work, then upon restarting the JSM application again it seems to be working ok. I can do more testing tomorrow night

[2020-07-31 18:24] maxigaz opened #75 "Specify configuration file as a command-line argument"
I haven’t found this mentioned anywhere in the documentation, so I assume this hasn’t been implemented yet.

What I have in mind is something like this:

[code]

This would especially be useful in writing scripts under Linux.

[2020-07-31 20:19] maxigaz commented on #29
@kicsyromy When I try installing the AUR package `joyshockmapper-git` now, the compaliation fails with a bunch of error messages.

<details>
<summary>Click me to reveal</summary>

[code]

[2020-08-01 02:33] kicsyromy commented on #29
Hello, I've been away for a few days. Thanks for bringing this to my attention.
A large refactor was merged a couple of days ago, and thats why. I will look into this and try to get a fix out this weekend.

[2020-08-01 06:57] sigboe commented on #29
@kicsyromy Would it make sense to change the PKGBUILD to fetch from releases source code archives? This way an update won't break anything. But the AUR will be outdated every time there is an update. Having a few human package managers, or a script to test the build and update AUR could alleviate that issue though.

[2020-08-01 13:28] kicsyromy commented on #29
@sigboe I actually want to set up CI for the project so stuff like this doesn't happen, just need to find the time to actually do it :)
Normally if I had been on top of things this wouldn't have been an issue, but alas, life finds a way :P

[2020-08-01 13:37] sigboe commented on #29
Don't worry about it :+1: This isn't production software,
It's libre, free open source software, and we are just happy to have it at all.
It's cool to get a CI, maybe it can even update the AUR PKGBUILD automatically so AUR helpers know when to rebuild. But no one can hold it against you that it takes time :smile:

[2020-08-01 17:22] sunnyye1 opened #77 "Bug Report/Feature Requests"
# Please Fix
- Pathfinding issue when open JSM as a shortcut
- Mouse stuck on the right top
- Smooth Flick Stick input for switch/Joycons/other devices
I found some third-party switch controller compatible with JSM but have a crappy right stick that requires some smoothing
- Gyro Drifting
I know this is probably not a bug, but still... since other mapping software won't drift at all...(maybe its d

[2020-08-02 15:48] Darthagnon commented on #33
Why not join with [Ryochan7's DS4Windows](https://github.com/Ryochan7/DS4Windows) and use that for the GUI? DS4Windows is struggling a bit with gyro stuff at the moment.

[2020-08-02 16:08] Kurren123 commented on #33
Is this even needed now, seeing as steam are integrating the JSM functionality into steam input?

[2020-08-02 16:27] Electronicks commented on #33
JSM still offers unique features outside of steam, such as threshold based gyro acceleration. That and many enjoy a configurator outside of the Steam ecosystem.

JSM's original purpose was to showcase the potential of flick stick. It is easy to prototype and experiment new and innovative control schemes in a already existing framework. Someone on the discord invented his own scheme based off mouse

[2020-08-04 01:43] theofficialgman opened #78 "Unrecognized Commands and Gyro Not functioning in Build from Source"
When I use the precompiled Windows executable I have no issues.

I am trying to build the source on Windows (from the current master) and the build goes fine with no errors (but a few warnings about loss of data) and gyro doesn't work at all. In addition, the minus and plus buttons are detected as unrecognized commands. I've attached the built exe for reference.
[JoyShockMapper.zip](https://github

[2020-08-04 09:16] JibbSmart commented on #78
We've had a big refactor that hasn't been fully tested yet. Thanks for noting those problems

[2020-08-04 14:53] theofficialgman commented on #78
Actually I figured out that it might be an issue (or an intended feature?) with 1.6.1 that is now changed. I had based my config off of one of yours @JibbSmart  with (+ = ESC) which 1.6.1 interpreted as controller + and now just throws an error. + is being used exclusively as a keyboard map in the new source and the controller uses PLUS (PLUS = ESC)

[2020-08-04 15:00] JibbSmart commented on #78
I'll have to have a look into that. I haven't been involved with the refactor, but I don't want to break backwards compatibility

[2020-08-04 15:10] theofficialgman commented on #78
Looks like the operators.cpp file was removed which contained the code to transform the + to PLUS and - to MINUS if placed before the =

[2020-08-04 15:23] theofficialgman commented on #78
It looks like operators.cpp was added into the source to reintroduce the functionality that used to be in main.cpp but it doesn't work because an unrecognized command is thrown

[2020-08-04 19:37] RainbowPangolin opened #81 "Gyro OFF button doesn't function for D Pad arrows"
I'm trying to use the D-Pad arrows as GYRO_OFF buttons, but they don't stop the Gyro. They work as other key bindings, and they show up in the console, but none of them trigger the GYRO_OFF function.

[2020-08-09 15:28] kicsyromy commented on #29
The -git package should now build and run, and I have a PR ready for CI as well. The CI should minimize the chance for Linux builds failing.
I'm also thinking of having a -git and a release package so that breakages, at least, won't happen to people using the stable packages

[2020-08-09 15:37] sigboe commented on #29
@JibbSmart Just ran `yay -Suy joyshockmapper-git` and it builds fine. But when I launch the program I get a segmentation fault.

[code]

[2020-08-09 15:46] kicsyromy commented on #29
Any chance you could run it through gdb/lldb and give me a stack trace?

[2020-08-09 16:46] sigboe commented on #29
@kicsyromy Of course.

[code]

[2020-08-09 17:04] kicsyromy commented on #29
I would need a "bt full" on Thread 2. From what I can tell it's just a crash in std::thread, but that doesn't help that much.
For this particular example, once the crash occurs, run the following:
thread 2 #number of thread that received the seg-fault
bt full
Thanks!

[2020-08-09 17:08] sigboe commented on #29
@kicsyromy  Like so? Thanks for teaching me
[code]

[2020-08-09 18:49] kicsyromy commented on #29
Great! Thanks. Unfortunately this doesn't tell me much 🙁
I'll try to look into it, I might come back for more info down the line.

[2020-08-11 02:57] theofficialgman commented on #78
Nonfunctioning gyro and the unrecognized commands have been fixed. Closing this issue.

[2020-08-11 03:00] theofficialgman commented on #78
I take that back. Gyro is fixed but + and - legacy references to controller plus and minus have not been re-implemented yet. Looks like it is still being worked on. Reopening for reference.

[2020-08-12 16:00] OSBooter opened #89 "Pageup and Pagedown"
They are mapped to the numpad 3 and 9, even though it is right that with number lock it is the correct command, can it be directly mapped to the pageup and pagedown keys?

[2020-08-13 17:27] Electronicks commented on #81
Duplicate of #69
Will be fixed in next release

[2020-08-13 17:48] Electronicks commented on #78
Fix in pull request

[2020-08-15 00:18] carloanu opened #91 "Pageup Pagedown Home End mapped to numpad"
The four mentioned remap do not work for me, only number pops up.
Awesome awesome work, keep it up!

[2020-08-15 01:39] Electronicks commented on #91
Duplicate of #89

[2020-08-15 11:14] gardotd426 opened #92 "Fails to Compile on Arch Linux with Clang++ v10.0.1"
Tried building both completely manually as well as using the AUR package (which just runs the same commands, essentially), both fail with a bunch of warnings and errors. Here's the full output:

[code]

I definitely have all the dependencies required.

Arch Linux
Kernel 5.8.1 (as well as 5.7.15)
Ryzen 7 3800X
Clang++ 10.0.1

[2020-08-15 11:15] gardotd426 commented on #92
Sorry, I realize now that text is really hard to read. Here it is in a file:

[joyshockerrors.txt](https://github.com/JibbSmart/JoyShockMapper/files/5078544/joyshockerrors.txt)

[2020-08-16 16:57] promocode2 commented on #23
It's okay. congrats on your new versions. mode shift sounds cool and can't wait to 'read me' about mouse area and other new bits.

Just had a look to see if anything had changed in regards to my Q. IGNORE_RIGHT still kills the right mouse stick and the left gyro will only register vertically. IGNORE_BOTH will also kill the mouse stick, essentially blocking all mouse movement inputs.

Keep up the g

[2020-08-16 17:01] promocode2 commented on #23
in the meantime lol ive been using a £20 bootleg R joycon that incredibly registers as a pro controller on steam. they cheap so triggers wear down quickly (RIP bootleg L joycon) but i am still amazed with their flash xD.

so I've got JSM on L joycon and steam config on R bootleg joycon. beautiful gyro mess :D

[2020-08-16 20:21] StripedMonkey commented on #92
Same issue, Arch w/ clang v10.0.1

[2020-08-17 20:03] Electronicks commented on #89
It seems not. JSM would need to track and juggle the numluck as pageup/pagedown/... and NUM keys are pressed. Whereas this is possible, it is not priority at the moment. The workaround will be to toggle the numlock yourself.

[2020-08-17 20:07] Electronicks commented on #92
I'm getting some refactoring done Windows side, a few of them affecting (i.e. breaking) the linux build, Such as the macros found in PlatformDefinition.h.
We have a contributor looking at maintaining the Linux build, but feel free to contribute yourself. Contributors are syncing on the GyroGaming discord in a private channel. Just ask to be added.

[2020-08-23 18:10] #78 closed

[2020-08-29 05:53] etienneunai opened #94 "Dualshock 3 Support"
Does this have Dualshock 3 support?
If not, is it possible that it will ever be added?

cheers

[2020-08-30 12:58] JibbSmart commented on #94
It does not, I'm afraid. I don't have a DualShock 3, so I won't be able to add it myself, and from what I hear the DualShock 3's motion sensors fall very far short of the DS4.

[2020-08-30 21:39] rstraver commented on #62
Hi, I was implementing some feature I wanted myself anyway and found this suggestion interesting too, so I implemented a test version.
Fork/branch here:
https://github.com/rstraver/JoyShockMapper/tree/flick_speed

It's exponential and relative to making a 180, meaning:
- 0: current situation, any flick takes time set by `FLICK_TIME`.
- 1: speed is linear with flick angle, a 180 takes `FLICK_TIME`,

[2020-08-31 01:08] dkao commented on #62
Thanks @rstraver!
Yes, this accomplishes what I was looking for. Love the simplicity.
I play-tested it a little bit, feels great.

Regarding variable name: `FLICK_TIME_SCALE`? `FLICK_TIME_EXPONENT`?

[2020-08-31 03:20] JibbSmart commented on #62
Sounds great to me. FLICK_TIME_EXPONENT is probably good. Thanks!

[2020-08-31 08:52] rstraver commented on #62
Alright, I'll try to refactor that later today, cheers!

[2020-09-11 23:24] stack opened #102 "Uninstalling reWASD broke JoyShockMapper"
I was originally using reWASD before I found this solution. I decided to uninstall reWASD because I didn't need it anymore. After a reboot, gyro mouse movement no longer worked. Only some times it would cause the cursor to be stuck in the top left corner. All other key mappings still worked.

After reinstalling reWASD, JoyShockMapper works properly again. I'm not sure what actually changed with th

[2020-09-11 23:24] stack opened #103 "Uninstalling reWASD breaks JoyShockMapper"
I was originally using reWASD before I found this solution. I decided to uninstall reWASD because I didn't need it anymore. After a reboot, gyro mouse movement no longer worked. Only some times it would cause the cursor to be stuck in the top left corner. All other key mappings still worked.

After reinstalling reWASD, JoyShockMapper works properly again. I'm not sure what actually changed with th

[2020-09-14 14:28] Electronicks commented on #60
This feature will be part of the next release (i.e. 2.0). Any JSM command can be run as a binding, but the command needs to be between quotation marks ". This command can be a file path of course.

[2020-09-14 14:29] Electronicks commented on #103
Duplicate of #102

[2020-09-14 14:30] stack commented on #103
Yes, sorry. GitHub hiccuped when submitting and created two issues.

[2020-09-15 08:50] JibbSmart commented on #103
Have you tried connected by USB? Bluetooth support for the DS4 is still incomplete. reWASD is probably setting some settings on the controller that JSM isn't dealing with properly yet. Plan is to improve this :)

The cursor getting stuck should be fixed in the next update, which will be out real soon. For now, usually restarting the app once or twice will fix it.

[2020-09-15 12:39] stack commented on #103
reWASD is definitely doing something to make the controller work properly, because I've only used Bluetooth for the connection and it's been flawless. I've been playing Morrowind via Bluetooth and using the gyro for mouse look and it's been pretty amazing.

[2020-09-21 10:44] OscarSenlis commented on #22
The behavior is now correct in the 2.0.0 release.

[2020-09-21 10:44] #22 closed

[2020-09-21 10:55] OscarCapac opened #106 "The HELP command can't redisplay the list of all commands"
Entering `HELP` after entering `HELP anything` will not display the list of all commands but will instead display the last `HELP anything` answer.

Example :
[code]

[2020-09-21 11:47] JibbSmart commented on #106
Good catch! Thank you!

[2020-09-27 19:59] GK2012 opened #108 "DS4's GYRO control doesn't work after a accidentally disconnected of the bluetooth"

[2020-10-04 20:56] platyple opened #110 "hidapi required for building on linux"
I'm trying to build JSM on Fedora 32 and it couldn't find the module `hidapi-hidraw`. Installing the development packages for hidapi fixes that, maybe that should get added to the list of dependencies

[2020-10-04 21:10] platyple commented on #92
for reference, another error that tends to pop up is `/JoyShockMapper/src/main.cpp:2837:30: error: use of undeclared identifier 'cmdLine'`

[2020-10-20 12:29] ShogunPatch commented on #54
Hi JibbSmart
First of all, congrats on what looks like a fantastic project, which I came across after watching a Youtube Video by Linus Tech Tips.

I am not a programmer, or even a very good gamer (sadly), but I do enjoy playing Fortnite on PC with a controller with my son.  My aiming, however, is atrocious so the idea of being able to use the gyros to aim is very interesting.

I have successfully

[2020-10-25 14:56] AlexCzar opened #113 "Doesn't work for warframe on linux"
JSM is installed from AppImage (1.6.1)
uinput and hidraw are writable
controller set to forced off for warframe in steam
when I press buttons on the controller I see logs running in the JSM window
No input actually reaches warframe

[2020-10-25 15:22] AlexCzar opened #114 "Cannot build 2.0.1 on Linux (OpenSuse Tumbleweed)"
I'm no C++ dev, so I have no idea what's going on here, except maybe some version incopatibility between libs? Seems like signatures of some methods/functions differ from what the souce expects.
I'll provide any additional required info if someone tells me where to look and what to get.
[code]

[2020-10-29 05:23] jacobdufault opened #117 "Unable to bind an action to loading a file on demand"
The readme uses this example as a valid command:
[code]

However, when entering it on version 2.0.3 I get this error
[code]

Thanks for all the hard work on this project - it overall works really well.

[2020-10-29 05:58] JibbSmart commented on #117
Thanks for the feedback :) Just to be sure, do you have a file called "GTA_driving.txt" in the same folder as JoyShockMapper.exe?

[2020-10-29 06:06] jacobdufault commented on #117
Creating one does not seem to make a difference. I was trying to look through the code and my best guess is that [this](https://github.com/JibbSmart/JoyShockMapper/blob/4bce7d9665bc5b7e96f0b7438e4e73c8d29fb54a/JoyShockMapper/src/CmdRegistry.cpp#L129) regex is rejecting it, but I didn't test/debug further than that.

[2020-10-29 06:14] JibbSmart commented on #117
Hmm... that's weird. Here's what happens when I do it on 2.0.3:
![image](https://user-images.githubusercontent.com/6497881/97532317-0cf30d00-19f1-11eb-9c56-7ca929a0d17c.png)

[2020-10-29 07:07] jacobdufault commented on #117
That is strange. I tried passing an absolute path, opening JSM via command prompt, and also opening as admin but none made a difference.

![image](https://user-images.githubusercontent.com/356714/97536450-6409cb00-197a-11eb-8efc-4b2b99385ed9.png)

[2020-10-29 07:12] jacobdufault commented on #117
Ah, found the mistake. I was creating a file named "GTA_driving.txt.txt". Sorry about that!

[2020-10-29 07:12] #117 closed

[2020-10-29 07:12] jacobdufault commented on #117
(though it'd be great if the error message indicated the file count not be found instead of just invalid command)

[2020-11-05 08:43] rocketbucket10 opened #118 "DualSense Support."
Hi!

Will joyshockmapper have support for DualSense controllers?

[2020-11-05 14:14] JibbSmart commented on #118
Hi! I'll add DualSense support myself as soon as I can get it and can get it working. They're not available here yet, but I'll get one as soon as I can. Like with the DS4, expect USB support first.

[2020-11-05 14:47] rocketbucket10 commented on #118
Thanks for the quick reply!
No need to hurry, take your time with the implementation. :)
I'm only getting the controller next month anyaways, until then I'll use my DS4.

[2020-11-07 20:00] linusrg1 opened #119 "I get this error when trying to compile it with cmake in linux"
-- Checking for one of the modules 'appindicator3-0.1'
CMake Error at /usr/share/cmake/Modules/FindPkgConfig.cmake:797 (message):
  None of the required 'appindicator3-0.1' found
Call Stack (most recent call first):
  cmake/LinuxConfig.cmake:7 (pkg_search_module)
  CMakeLists.txt:8 (include)

-- Checking for one of the modules 'libevdev'
CMake Error at /usr/share/cmake/Modules/FindPkgConfig.cmake:

[2020-11-09 23:39] Kurren123 opened #120 "Trying to get GYRO_SENS to work"
Hi there. I'm trying to play skyrim and get some more sensitivity on the gyro, but `GYRO_SENS` doesn't seem to work, even when it's set to a crazy value like 32. My config:

[code]

Any suggestions would be appreciated!

**Edit:** Removing `COUNTER_OS_MOUSE_SPEED` or `IN_GAME_SENS` doesn't affect anything.
Platform: Windows 10
Controller: Switch, bluetooth
Game: Skyrim

[2020-11-10 09:02] Kurren123 commented on #120
Problem solved! The issue was that the last line is importing settings from `GyroConfigs/_3Dmouse.txt` which overwrites the previous `GYRO_SENS` value.

[2020-11-10 09:02] #120 closed

[2020-11-10 09:09] JibbSmart commented on #120
Glad to hear it :)

[2020-11-10 09:11] JibbSmart commented on #114
I'm afraid I don't know anything about compiling the Linux version.

[2020-11-10 14:55] Kurren123 commented on #33
Has any progress been made towards this? I should have a few spare minutes so I might just give it a bash and keep it in my own repo? Any preference of programming languages? I'm thinking F# with WPF as the UI is pretty, or maybe elm with electron?

[2020-11-12 15:14] Electronicks commented on #33
I'll take the liberty to answer.
There has been no progress. Jibb and I were thinking having it as a separate application that would only edit the config files would be appropriate. Pick the language you are the most comfortable with, with cross-platform languages being tiebreakers.

The refactoring is done, so the new header should be helpful to you.

[2020-11-12 15:25] Electronicks commented on #114
Duplicate of #92

[2020-11-12 15:25] Electronicks commented on #119
Duplicate of #92

[2020-11-14 11:52] Kurren123 commented on #33
Great. I like the idea of a ui just to edit the config files as it allows more flexibility and different devs can compete.

[2020-11-15 23:13] dwang7 commented on #54
I was having issues getting ds4 gyro to work under bluetooth as well.  What got it working for me was to enable ds4 controller support under steam.  Once that was configured, joyshockmapper was able to recognize the gyro readings when ds4 is connected via bluetooth.

[2020-11-16 13:05] Aikimaniak opened #121 "PS Aim Controller: Gyro-scoping"
Hi JibbSmart,

Congrats on your fantastic job with JoyShockMapper...
I Just Dived in, and it is really fantastic...

I am a VR enthusiast and was wondering if there is a way to make the PS Aim Controller detected by your software?
I guess there are gyroscopes in there too and it could pretty much act like a DS4, unfortunately it is not detected as a DS4.

The PC recognise it as what it is (by BT),

[2020-11-20 04:51] neonms92 commented on #69
[This Commit](https://github.com/JibbSmart/JoyShockMapper/commit/2991fc7f98e4149cc99465411eaeca98d160f63e) reads like it was meant to fix this issue, but this issue seems to still be present in 2.1.0. Is this a regression or simply not yet addressed?

[2020-11-21 12:37] Yamakaky commented on #92
Did you consider adding a github CI build? That would help catch these errors earlier.

[2020-11-25 10:47] #118 closed

[2020-11-29 13:23] Darthagnon commented on #33
@Kurren123 DS4Windows recently implemented FlickStick, and has a GUI. Works pretty well (though I still haven't figured out how to "recenter" the gyro properly

[2020-12-01 16:42] TheToto opened #123 "LWINDOWS, RWINDOWS, CONTEXT doesn't work"
Hi,

`LWINDOWS`, `RWINDOWS`, `CONTEXT` buttons seems broken.
When I try to map, W for example with one of these buttons :

[code]

Windows 10 - JoyShockMapper 1.2.0

[2020-12-06 18:03] cannadayr opened #124 "Absolute vs Relative Mouse positioning (windows 10)"
Hello,

when using a mouse, and I scroll the mouse until it reaches the screen edge, and continue to physically move the mouse, its position doesn't exceed the screen edge, and it takes the same mouse distance to return to center. If I did this enough I'd have to lift the mouse and place it back down in the center of the pad.

what this translates to when using JSM, is that whenever I exceed the s

[2020-12-12 16:42] ArjukKagrim opened #125 "RIGHT_RING_MODE = INNER/OUTER not working"
Hello,
I tried some of the settings from the documentation-Wiki for changing the layout of my right stick and stumbled on the following problem: LEFT_RING_MODE is just working fine, but RIGHT_RING_MODE is no supported command. Is it intended that the right stick does not have the same possibilities as the left stick?

[2020-12-14 09:44] skakunm opened #126 "PS5 Dualsense support"
Is a new PS5 controller supported?

[2020-12-16 10:53] TauAkiou commented on #92
I've been working on fixing JSM for Linux, and here are the changes I've come up with so far: https://github.com/TauAkiou/JoyShockMapper

The fixes have worked so far for me, but I'd like to see some additional reports from others before creating a PR.

[2020-12-16 20:22] Inari-Whitebear opened #127 "Console spam?"
Hey, just discovered that flickstick thing recently and wanted to check it out. However starting JSM seems to spam me with lots of stuff, so it's hard to use the console.

[code]

[2020-12-17 08:30] zhangjk95 opened #128 "Any plan on releasing 2.1.1?"
JSM is awesome! I really appreciate that you wrote such a feature rich program that meets all my needs!

I noticed that support for WINDOWS, VOLUME_UP, and VOLUMN_DOWN keys is introduced in 2.2.1. This feature is very useful to me. I really hope I can get the new version, but I’m too lazy to install the bloated Visual Studio just for building it. Could you please release the binary of the new vers

[2020-12-19 11:38] Inari-Whitebear commented on #127
Seems this is (mostly) from some weird interaction with DS4Windows. Plus can still use the tray icon to do stuff.

[2020-12-19 17:37] rodrigoxm49 opened #130 "Rolling instead Turn to horizontal move, just like smartphones"
I read that is possible using this code "MOUSE_X_FROM_GYRO_AXIS", but where I need to put this to work?

[2020-12-23 00:05] sjuxax commented on #92
@TauAkiou that branch builds but crashes on startup when a DualShock 4 is plugged in. Here's the backtrace:

[code]

[2020-12-23 01:13] TauAkiou commented on #92
@sjuxax Keep in mind that it might also crash if you don't have read/write access to hidraw devices.

Try making a new udev rule and see if it changes anything (you will have to add your user to the plugdev group if it exists)

```KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0664", GROUP="plugdev"```

[2020-12-27 00:20] Maxjkarp opened #131 "not saying '0 controllers connected'"
When I run JoyShockMapper.exe, all that shows up in the command line is "Welcome to JoyShockMapper version v2.1.0!". there is nothing else and I am unable to type in the console. I don't know what to do from here.

[2020-12-27 22:44] #131 closed

[2021-01-04 02:17] Kekker-git opened #133 "Switch Pro controller gets stuck on Down+Left input"
When I tilt slightly down with the left joystick and then let go, JSM infinitely inputs LLEFT and LDOWN until I move the joystick again.

I noticed this behavior while playing the Epic Games release of Enter the Gungeon with this config:

`Autoload/EtG.txt`
[code]
`GyroConfigs/Resolution.txt`
[code]

While I do have Steam installed and Steam does sometimes interfere with JSM, this issue happens wi

[2021-01-10 16:43] linusrg1 opened #134 "Can you please make an appimage for linux users?"
It would be a lot easier for Linux users if there was a single appimage we could use that contains all of the needed dependencies  instead of us having to compile it ourselves. As a lot of gamers on Linux are still new to it and barely know the terminal, let alone cmake. Myself included. And 99 percent of the time compiling with cmake does not work, and then I cannot use the program.

[2021-01-10 17:26] linusrg1 opened #135 "Latest version is broken on Linux"
Had to downgrade to 1.6.1 to get things to work again.

home/linus/Documents/JoyShockMapper-master/build/_deps/joyshocklibrary-src/JoyShockLibrary/JoyShockLibrary.cpp:76:41: warning: format specifies type 'int' but the argument has type 'hid_device *' (aka 'hid_device_ *') [-Wformat]
                                printf("Controller %d timed out\n", jc->handle);

[2021-01-12 14:10] TauAkiou commented on #135
Please try my fork and let me know if it works for you or not: https://github.com/TauAkiou/JoyShockMapper

[2021-01-12 15:59] linusrg1 commented on #135
Thanks it built and I am able to load it. The option to load a config is missing from the taskbar menu though. And I am unsure if it is autoloading my config or not that is located in ~/.config/JoyShockMapper/Autoload.

JoyshockMapper shoots this out as well, Gtk-Message: 10:53:10.325: Failed to load module "appmenu-gtk-module". I'm unsure if that means anything. There is no onreset.txt file to lo

[2021-01-14 14:47] ShogunPatch commented on #54
Hi dwang7, I've only just seen this but I'm so glad I have:  I've just installed and setup Steam and it seems to have fixed it for me, too, which is great!  Thank you so much.

Jibb, I now have the gyro functionality working over Bluetooth but now I am struggling to get to grips with all of the added functionality & configs:  if I set it up to use either of the Fortnite configs from the gyrowiki,

[2021-01-14 14:51] TauAkiou commented on #135
@linusrg1 In my setup, JoyShockMapper will list the Autoload/GyroConfig folders in the shell menu. Does it do this for you? Additionally, if something is autoloading properly, a message will appear in the console. I would recommend running JSM from a terminal to see all of the program output.

JoyShockMapper doesn't like the file name being wrapped in single quotes, which is a problem since drag-a

[2021-01-15 16:32] ShogunPatch commented on #54
Actually, scratch that - a bit more fiddling and trial and error on my part and I have now managed to get it to work! Brilliant!
I have to say, having previously tried various solutions to try and get gyro aiming to work for my particular setup, including DS4Windows and others and been reduced to tearing my hair out on each occasion, this is the first and only one that has worked at all playably,

[2021-01-17 23:20] Contrabardus opened #136 "SL and SR don't seem to be creating any input on my Joycons."
Windows 10 20H2.

Kinvoca C25 Joycons.

I don't own a Switch, but have a friend who does and have used them recently with that device, and both SL and SR work fine with a Switch on both controller halves. They aren't broken.

I bought these to replace a Raze Hydra that finally died a while back. The drivers for that are long since uninstalled. It was another PC build, so it's not remnants of those

[2021-01-23 18:57] Contrabardus opened #137 "A way to force Steam games to use Joyshockmapper instead of Steam Input?"
Anyone know now to do this?

I've created autoload profies for Steam, specific games, etc... doesn't work. Steam just blocks all other input.

I'm using half a Joycon as a replacement for a keyboard, works great mostly, but Steam limits certain gyro inputs that I can get working just fine with JSM.

For example, I can set up a bind to tilt up and down, and lean left and right with JSM, but Steam d

[2021-01-24 15:16] nougator opened #138 "JoyShockMapper "market place""
It would be cool to have something like steam thing for sharing the controller maps, idk if it's clear. I know it isn't easy neither cheap to do.

[2021-01-24 15:20] #138 closed

[2021-01-24 16:01] nougator opened #139 "Reset gyro X and/or Y."

[2021-01-24 17:16] renandr commented on #56
If you don't have the controller, one should be provided to you by the community :)
I'd be happy to help.

[2021-02-01 19:54] OSBooter opened #140 "Compatibility with chrome as keyboard for long holds."
I think chrome isn't able to detect a held key properly,
such as holding the cursor key down, it will trigger a down cursor once but will stop. Am I misunderstanding a config issue?
`LDOWN = DOWN`
A normal keyboard down would scroll a page continuously.

[2021-02-03 10:10] wlwl2 commented on #14
http://gyrowiki.jibbsmart.com/game-config:enter-the-gungeon:jibb-s-single-joy-con

@JibbSmart You could temporarily alter that part in the wiki. I solved the issue by putting the config file in the root drive (C:/) it doesn't include the quotes when I paste it in.

[2021-02-03 11:43] ShogunPatch opened #141 "Turbo Build in Fortnite"
Hi Jibb
I've been using JSM to play Fortnite with my DS4 over Bluetooth for about a month now and have to say I'm loving it.  I've just noticed one thing, however, (I'm a pretty low-level player):  it seems that JSM is preventing turbo building in Fortnite.  In other words, if I go into build mode, hold down a button to lay any piece and, say, rotate, it only builds the first piece.  I have to kee

[2021-02-12 11:35] antaxiom opened #143 "[Arch Linux] Crashing upon initial use"
Hello, I've gotten into more control customization on Linux and I've been unhappy with steam's solutions for games that are non steam. I decided to try this out as I liked the innovative ideas. However, upon launching the program it suddenly stops on me, this is the output I am given.

## Error

[code]

After this my shell tells me the program has stopped, these are the different errors for each s

[2021-02-13 03:46] antaxiom commented on #143
I've tried compiling the program myself and I've noticed that when the pro controller is connected it fails, maybe it has to do with the 5.10 kernel Nintendo HID Driver. I'm still unsure, if anyone could give me some ideas I could do more research.

[2021-02-16 12:58] TauAkiou commented on #143
Do you have an evdev rule set up to allow access? That might be your problem.

[2021-02-16 13:05] antaxiom commented on #143
I'm not sure what evdev is, I looked it up and it has to do with gamepads
on linux, but beyond that I don't know what I need to do to "allow access".

On Tue, Feb 16, 2021 at 8:58 AM TauAkiou <notifications@github.com> wrote:

[2021-02-16 13:25] TauAkiou commented on #143
Sorry, I got a bit confused there. It's udev.

 JoyShockMapper comes with a udev rules file that needs to be installed in ```/etc/udev/rules.d```.

If that's not the case, I'll see if I can't look into it - I get a segfault on first connection but it never seems to happen again after I restart JoyShockMapper.

[2021-02-16 13:34] antaxiom commented on #143
As for the udev rules file, does the aur package install that for me? Also
when I build it manually where's that udev file?

I just wanted to note a few things:
Segfault always happens, but what happens before varies depending on what
controllers are connected, ect.

On Tue, Feb 16, 2021 at 9:25 AM TauAkiou <notifications@github.com> wrote:

[2021-02-16 13:44] TauAkiou commented on #143
If the udev file was included with the AUR, it should have been copied into ```/etc/udev/rules.d``` or ```/usr/lib/udev/rules.d``` (https://wiki.archlinux.org/index.php/Udev)

If you build it manually, the udev file should be included with the source code (dist/linux/50-joyshockmapper.rules)/

[2021-02-16 13:55] antaxiom commented on #143
I just checked and I already have the udev file in the
`/usr/lib/udev/rules.d`. I'm still getting the same segfault as before. I'm
not quite sure what's going on.

On Tue, Feb 16, 2021 at 9:44 AM TauAkiou <notifications@github.com> wrote:

[2021-02-16 14:57] TauAkiou commented on #143
I can't seem to recreate this problem - that's why I asked about udev, but I'm lost. I may need to set up an Arch machine to try and diagnose it myself.

[2021-02-16 15:12] antaxiom commented on #143
I think trying out an arch machine would probably be ideal, I'm not sure
what info I could give you.

On Tue, Feb 16, 2021 at 10:57 AM TauAkiou <notifications@github.com> wrote:

[2021-02-18 21:27] AlexByte opened #144 "Unintuitive control"
Why do i want to move controller in roll axis instead of yaw axis?

[2021-02-19 01:42] JibbSmart commented on #144
The default is to use the yaw axis, as if the controller is a Wiimote pointed roughly in the direction of the screen, as most players are used to. Some players prefer to hold their controllers upright, so that the underside of the controller is pointing roughly in the direction of the screen. If that's what you're doing, the default of using the yaw axis will feel like the roll axis to you. But yo

[2021-02-21 12:35] ShogunPatch opened #145 "Use JSM for gyro control ONLY"
Hi, I'm sorry if this seems like blasphemy given all the advanced features and endless combination mapping possibilities of JSM, but at this stage the only thing I want to use it for is to enable gyro control, without changing any other controller settings.
But unless I'm doing something wrong/stupid (which is admittedly quite possible), simply enabling gyro controls seems to adversely impact othe

[2021-02-21 12:48] JibbSmart commented on #145
Hi! You should be able to just use JSM for gyro only by having a config that doesn't set any button mappings. Fortnite's supposed to let you combine mouse input and controller input, but it sounds like it's not working properly. Are you able to try playing without JSM but using the controller and real mouse at the same time and see if it interferes in the same way?

[2021-02-21 15:02] AlexByte commented on #144
The mouse intuitive control for me is
MOUSE_X_FROM_GYRO_AXIS = Z
GYRO_AXIS_Y  = INVERTED
RIGHT_STICK_MODE = AIM

I only use the gyroscope for precise aiming while shooting

[2021-02-22 00:44] Pro-Prietary opened #146 "Minor spelling issue: "SUBSTRACT""
This is seen in the documentation and implementation. Shouldn't it be "SUBTRACT"?

[2021-02-22 09:10] ShogunPatch commented on #145
Hi Jibb
Thanks for taking the time to respond to this.
I’ve never played with kb & mouse so I don’t really know what I’m doing.  I’ve just tried it and with a bit of experimentation found that if I try and run forward by pushing the left joystick forward, steer using the mouse and then also lay a stair by left-clicking on the mouse it seems to work.  Turbo building a long stair in this way, by cli

[2021-02-22 12:38] JibbSmart commented on #145
Hi Patch, it looks like you're doing all the right things from the JoyShockMapper side, but I dunno if you'll need to tweak some of the mouse-specific settings in Fortnite to get it working properly. It seems like there shouldn't be any problems on JoyShockMapper's end since it actually does so little :P

[2021-02-22 14:31] ShogunPatch commented on #145
OK, not to worry; I’ll keep tweaking things and let you know if I manage to crack it – or revert back if I have any questions.  Either way, well done again on a fantastic project.

From: Jibb Smart <notifications@github.com>
Sent: 22 February 2021 12:39
To: JibbSmart/JoyShockMapper <JoyShockMapper@noreply.github.com>
Cc: Patrick Angwin <Patrick@TeamAngwin.com>; Author <author@noreply.github.com>
S

[2021-02-22 15:33] OSBooter commented on #140
I was apparently using an outdated version, using the turbo modifier works alright.

[2021-02-22 15:33] #140 closed

[2021-02-24 21:42] SylvaDeer opened #147 "Flick Stick problem"
Im new to Flick Stick and Gyro but i've ran into a problem with the Flick Stick controls on my ds4 in Overwatch. When i tilt the stick 180°, in game, my camera turns 360° (for instance when i want to look behind me, i have to either tilt my stick to the left or right due to tilting behind just spinning me into looking the same way). Is this an easy fix in the console or is it a problem with the wa

[2021-02-25 00:55] JibbSmart commented on #147
Hi! Can you confirm that in your Overwatch config you have IN_GAME_SENS set to the same value as your mouse sensitivity setting in game, and your REAL_WORLD_CALIBRATION is 151.5?

[2021-02-25 03:20] SylvaDeer commented on #147
i can verify that, i made extra sure that i didnt have any different sensitivity settings with the hero i was using in relation to the value i put into joyshockmapper, also as it stated on gyrowiki i put REAL_WORLD_CALIBRATION as 151.5.

[2021-02-25 07:43] JibbSmart commented on #147
That's weird. I just gave it a go myself, and my settings are working fine. I play with a sens of 6 and my IN_GAME_SENS is 6, too. Same RWC as you're using.

You don't have "COUNTER_OS_MOUSE_SPEED" in your config, do you?

[2021-02-25 10:36] SylvaDeer commented on #147
Originally i didnt have anything in my config relating to os mouse speed and i had this problem, so i added in IGNORE_OS_MOUSE_SPEED as the gyrowiki suggested and it made no difference. the only difference it seems is that my IN_GAME_SENS is set to 15 in my config and game settings instead of 6 like yours. but as i understand it that shouldnt make a difference.

[2021-02-26 09:38] JibbSmart commented on #147
Hmmm. I tried playing with your sensitivity, but still can't reproduce the problem. I'll think on it some more, but for now I have no idea!

[2021-03-08 03:39] Pro-Prietary opened #150 "MOUSE_AREA not centered when stick is already pushed in a direction"
This was discovered when attempting to use MOUSE_AREA for the weapon wheel in Dishonored 2.

Here is a snippet of the configuration I've been using:

[code]

I've noticed that if N is pressed while the stick is held in a direction, the center of the MOUSE_AREA is now off-center once the stick is let go. This goes for both the left and right stick.

[2021-03-13 15:52] SylvaDeer commented on #147
I still have no clue whats going on with this but it seems like theres a problem with my laptop, for some reason the stick inputs are twice as sensitive as they should be on all games and with all controllers, i noticed this when i played warframe with my xbox controller the other day and despite being on around 15 stick sensitivity my right stick flew around the screen at speeds that shouldnt be

[2021-03-13 15:55] SylvaDeer commented on #147
Also when out of games, using the right stick as horizontal mouse movements, when i do a 180 turn it moves the full length of the screen

[2021-03-15 13:53] Phantop opened #151 "Does not build/work correctly on Solus Linux"
I've been trying to run/use JoyShockMapper on Solus Linux with very little success.

Attempting to build the latest git source (via the Solus packaging tools in a clean environment) gives the follow error at the end:
`fatal error: too many errors emitted, stopping now [-ferror-limit=]`
[build.txt](https://github.com/JibbSmart/JoyShockMapper/files/6141739/build.txt)

Building the `v2.2.0` tag does

[2021-03-26 00:39] Riff-Skippelton opened #152 "DS4 Touch not working"
The software doesn't seem to register touchpad input on my ds4 at all. Unfortunately, as great as the software is, it's useless to me unless I can map the touchpad to gyro off to be able to quickly re-center aim.

[2021-03-26 10:06] ShogunPatch commented on #152
Yes, I too am having trouble getting the touchpad to work.  \in the meantime I've just mapped a chorded press to temporarily disable gyro when I need to.

[2021-03-30 20:40] ArjukKagrim opened #154 "Analog Stick not working correctly with JSM v3.0"
Hello, after downloading the new version the analog sticks do not work correctly: The mapping for LUP/RUP and LDOWN/RDOWN are swapped so pressing the stick up give the input of down. So also flickstick is not working anymore as it shares this behavior

[2021-03-31 20:22] LukePhaneuf opened #155 "Crash on 3.0 startup"
JSM 3.0 crashes on startup everytime. Previous versions work normally. I have tried administrator, changing install location, safemode, disabling all antivirus and nothing seems to work. No errors or anything, it just opens for a second or two then closes.

[2021-04-01 15:56] antaxiom commented on #143
Hello, have you made any progress on this issue?

[2021-04-02 02:20] LukePhaneuf commented on #155
After messing around some more it looks like it's just a problem with the SDL2 versions of JSM. The regular versions run fine, but SDL2 versions crash immediately.

[2021-04-03 19:39] DavidRGriswold commented on #154
I am also having this problem, with both a DS4 and a SN30+ paired as a switch controller.

[2021-04-05 16:22] QUAKEULUS opened #157 "Possibility of adding additonal 2 buttons using the DualShock 4 Back Button Attachment mapped to L2/R2"
I just received the DualShock 4 Back Button Attachment, and it's a nifty little add-on that doesn't change anything tha the controller reports back to the system, and each additional grip button can be mapped to any button.

Now if the additional buttons are mapped to L2 and or R2, when pressed they report instant max trigger press, which isn't physically possible to do, since when pressing an act

[2021-04-06 01:42] JibbSmart commented on #154
Hi both! This is a known issue in the JSL versions of JSM 3. The SDL2 versions (on the same download page) don't have that issue, so it's worth giving them a go. @Electronicks has a fix ready for the next bugfix update, but I don't know about timings for that.

[2021-04-06 01:43] JibbSmart commented on #155
Thanks for the heads-up. This behaviour is unusual. What controller(s) do you have connected?

[2021-04-06 01:44] JibbSmart commented on #152
Touchpad touch wasn't a feature until the version 3 release last week. Please check that out here: https://github.com/Electronicks/JoyShockMapper

[2021-04-24 23:15] SHlTGANG opened #158 "Game crashes with JSM. (Solved)"
I have already exposed this problem on the youtube channel, and I am looking for help from the community.
Some games don't conflict with JSM, I've been using it for a week in CSGO, COD, Overwatch... But when I wanted to do it in R6 the thing changes.
After an hour of use, or less, the game freezes and closes. But the strange thing is that if I don't have JSM open, it doesn't present such crashes.

[2021-04-25 09:39] SHlTGANG commented on #158
Apparently this is also inactive.

Still, to whoever has something similar happen (either in R6 or other titles) it was solved for me by **running "JSM SDL2"** and I was in training for quite a while, without any hangs. **Thanks for such a wonderful application.** I like it better than Steam hahaha

[2021-06-26 11:39] linusrg1 opened #159 "Error when building on linux"
cmake .. -DCMAKE_CXX_COMPILER=clang++ && cmake --build .
-- Checking for one of the modules 'appindicator3-0.1'
CMake Error at /usr/share/cmake-3.16/Modules/FindPkgConfig.cmake:707 (message):
  None of the required 'appindicator3-0.1' found
Call Stack (most recent call first):
  cmake/LinuxConfig.cmake:7 (pkg_search_module)
  CMakeLists.txt:8 (include)

-- JSM version is vGIT-NOTFOUND.GIT-NOTFOUND

[2021-06-30 19:05] TauAkiou commented on #159
Use https://github.com/Electronicks/JoyShockMapper/. This repository hasn't been updated for months.

[2021-07-01 19:32] linusrg1 commented on #159
I just posted the error here bc the last version I tried was was this one. This happens with the latest version too. This happens every time with joyshock mapper. Idk why the devs even say it supports linux. They never test it on linux so they just assume it will work on linux, which is why most of the time it never does. Imo they should just remove linux as a supported platform if they're not ser

[2021-07-02 02:47] JibbSmart commented on #159
@linusrg1 This page only started saying that JSM works on Linux when a Linux user got involved and got it working on Linux. It has since stopped working since the main devs don't use Linux and that contributor stopped being involved, but @TauAkiou has gotten involved on the up-to-date project and so it should work on Linux again.

Not this project, to be clear. The one @TauAkiou linked, which is w

[2021-07-02 05:13] TauAkiou commented on #159
@linusrg1 The Linux version currently has one maintainer (me) and I'm not always around to provide changes.

I had to submit a small fix that is still awaiting merging at: https://github.com/Electronicks/JoyShockMapper/pull/19.

Additionally, JoyShockLibrary building is currently broken under Linux, and I recommend against using JSL anyway. Use the command:

```cmake .. -DCMAKE_CXX_COMPILER=clang+

[2021-09-10 02:33] Eviepayne opened #160 "Arrow keys bug?"
In Fallout 4 The arrow keys don't work.
Outside the game it seems to work.
On the keyboard Fallout can navigate menus
In JSM Fallout does nothing.
This is the configuration I have for the directional pad
[code]

Any ideas?

[2021-11-02 02:34] XNKX opened #161 "Moved to Electronicks / JoyShockMapper | DualSense Issue: ZL/ZR not working in either JSM or ingame"
Please let me say one thing first: thank you so much for developing this incredible tool!

I have the following issue:
I'm trying to set up a new PS5 DualSense Pad in Windows 10, using the ViGEmBus featured Virtual Controller (the DualSense not being supported by the games I want to use it with + to set up Gyro-Aim).

As soon as I either set **VIRTUAL_CONTROLLER = XBOX** and **ZL_MODE = X_LT** or

[2021-11-02 03:19] #161 closed, assigned to nobody

[2021-11-02 03:19] XNKX commented on #161
Wrong repository, moved to Electronicks /
JoyShockMapper

[2022-01-16 10:34] Reuben-Flagg opened #162 "README says "RIGHT_TRIGGER_MODE"/"LEFT_TRIGGER_MODE" when it should be "RIGHT_TRIGGER_EFFECT"/"LEFT_TRIGGER_EFFECT""
Currently, the readme file says that accessing the DualSense trigger functions is done via "RIGHT_TRIGGER_MODE" or "LEFT_TRIGGER_MODE" when the actual command is "RIGHT_TRIGGER_EFFECT" or "LEFT_TRIGGER_EFFECT".

[2022-01-27 14:14] #160 closed, assigned to nobody

[2022-03-17 02:41] not-nocturnal opened #163 "[Feature Suggestion] Output gyro to a second virtual controller's joysticks"
This might be a weird request, but having the ability to send gyro input to a second virtual controller's analog axes would be cool. This would let someone use gyro-as-analog without simply replacing their controller's analog axes, assuming the game in question lets you map multiple input sources to one player's controls.

This would be useful for flight sim games and similar and make pure control

[2022-03-29 04:06] ArtemisWasHere commented on #72
I'm having a similar problem. Opening joyshockmapper is fine, its only when I load any config which calls on 3Dmouse.txt I think
Happens whether or not any app is open and no amount of calibration fixes it. I cannot play games with joyshock mapper because of the drifting. It's completely random as well, in terms off speed and direction in which the cursor drifts.

[2022-03-29 05:10] JibbSmart commented on #72
@daedalus0 are you using the latest version? This branch isn't updated anymore. Electronicks is running this project now at https://github.com/Electronicks/JoyShockMapper

[2022-03-29 05:27] ArtemisWasHere commented on #72
Yes, when I open joyshockmapper it shows version 3.3.0

[2022-03-29 05:27] ArtemisWasHere commented on #72
Should I move this comment to Nicolas’ page then?

[2022-03-29 05:56] JibbSmart commented on #72
@daedalus0 Yes please. Make sure to include what controller you're using.

[2022-03-31 02:08] collinator-coder opened #164 "nothing here just a waste of your time"
If somebody could fork this and build it for linux somehow, i would be thankful.

[2022-03-31 02:11] collinator-coder commented on #164
lol nvm i didn't see the thing in readme.md

[2022-04-09 09:03] n-nougator opened #165 "Make a GUI for configuration"
The software right now is not very user friendly it would be great to make a GUI to make easier to configurate and edit/update pre-existing configuration. I find configuration very hard and unpleasant to create with the current system.

[2022-04-09 09:06] n-nougator commented on #165
I'd be ready to offer some help for GUI design (though I'm just a hobbyist designer).

[2022-04-11 05:18] JibbSmart commented on #165
Thanks for the feedback! A few things:
1. A GUI would significantly slow down the implementation of other new features, since the GUI would have to be changed to accommodate them;
2. Because JSM accepts a very simple text format, anyone could make a GUI application of their own that just talks to JSM. I'd really like to see this happen, but no one seems to be interested enough;
3. This is not the

[2022-04-28 01:52] Schkrapnel opened #166 "Looking to do this in the opposite direction"
Hey there,
I'm currently looking at writing my own program for an Arduino of some kind (haven't decided just yet) that would be able to emulate a gyro input using a mouse and pass that into a Switch by emulating a Bluetooth controller (sort of like how [this repo](https://github.com/lulzsun/SwitchKBMEmulator) does it). The thing is, I'm not really sure what the gyro input signals are supposed to l

[2022-05-02 00:58] #56 closed

[2022-11-09 14:04] kurushimee commented on #165
I'm currently making a GUI for JSM! [You can see it here.](https://github.com/iver0/JoyShockGraphic)
The release is due tomorrow, for it there will be a packaged version with a quick guide.
Looks something like this right now:
![image](https://user-images.githubusercontent.com/81345597/200850723-4a42261a-70a0-4c72-9130-bc6fa347438f.png)